* {
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 0;
}
.calculator_container {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px #ccc;
  min-width: 35%;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
.input_title,
.answer_title {
  font-style: italic;
  font-size: 14px;
  color: #555;
}
.mode_container {
  margin: 30px 0;
  border: 1px dashed #aaa;
  border-right: none;
  border-left: none;
  padding: 10px 0;
}
input[type="text"] {
  border: none;
  border-bottom: 1px solid #aaa;
  outline: none;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
}
.answerParagraph {
  margin-top: 10px;
  font-size: 24px;
  color: green;
  font-weight: bold;
}
.answer_error {
  color: red;
}
